In [11]:
### need to have all of these installed

import numpy as np
import matplotlib as plt
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler

In [32]:
### TODO: Determine what data is needed for our model
### TODO: massage the date data into real time lol

"""
if you need a certain value from the DataFrame use this notation
    print(dataset_train.iloc[1].get("Unix Timestamp"))
"""

"""
To convert from these unix time stamps you need to convert to float then divide by 1000
    timestampEx = dataset_train.iloc[0].get("Unix Timestamp")
    timestampEx = np.float64(timestampEx).item() / 1000
    print(datetime.utcfromtimestamp(timestampEx).strftime("%D %H:%M"))
"""
dataset_train = pd.read_csv("data\Eth_1H_MAR7_APR7.csv")

training_set = dataset_train.iloc[:, 1:2].values

dataset_train.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622